//if you change anything here remember run --  npm run dev or npm run watch --in terminal to compile and ctrl refresh to hard refresh, npm run watch it keep running in the terminal and dev once.
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
